body{
    margin:50px;
    font-family: arial, helvetica, sans-serif;
}
.banner{
    background-image: url("../img_ihc/banner.png");
    background-size: cover;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.menu-container{
    border-radius: 10px;
    background-color: #d4e1cb;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.5);
    border: 3px solid#388E3C ;
}

.menu{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.menu ul {
    list-style-type: none;
    display: flex;
}
.menu li{
    text-decoration: none;
    color: #fff;
    background-color: #388E3C;
    padding: 10px 20px;
    margin: 0px 20px;
    border-radius: 5px;
    display: inline-block;
    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(5, 35, 21), rgb(26, 122, 45));

}
.menu li:hover{
    background-color: #4CAF50;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    background-image: linear-gradient(to bottom right, rgb(26, 122, 45), rgb(5, 35, 21));
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.container{
    display: flex;
}

article, figure {
    flex: 1;
    margin: 0 10px;
    width: 40vw;
}

.card{
    border: 2px solid #388E3C;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.card2{
    width: 40vw;
    border: 0px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif; 
}
.card h2 {
    font-size: 24px;
    color: #1c1c1c;
}
.card p {
    font-size: 16px;
    width: 100%;
    padding: 10px;
}
figure img{
    max-width: 100%;
    height: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}
table tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
    text-align: center;
}
table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}
table td, table th{
    padding: 10px;
    border: 0px;
}